# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.elf
*.hex
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#sublime/osx
*.sublime-workspace
*.sublime-project
.DS_Store

#kicad auto backups
_autosave*.kicad_pcb
*.bak
